body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    margin-bottom: 40px;
}

.color-important{
    color: rgb(91, 217, 255);
}

.nav-logo{
    width: 40%;
    color: tomato;
    font-weight: 700;
}
.nav-logo img{
    width: 15%;
   background-color: turquoise;
   border-radius: 60%;
}

.nav-menu{
    width: 60%;
}

#navbar{
    padding-left: 5%;
    height: 100px;
}

h1{
    font-size: 50px;
}
h1{
    font-size: 40px;
}

.half-width{
    width: 50%;
    padding-left: 7%;
}

.flex-responsive{
    display: flex;
}
a{
text-decoration: none;
color: lightcoral;
}
.nav-menu ul{
    list-style-type: none;
    display: inline-flex;
}
.nav-menu ul a{
    padding-right: 3%;
}
.main-artical-image img{
    width: 80%;
}

.link-button{
    padding: 10px 20px;
    background-image: linear-gradient(red, tomato);
    border-radius: 10px;
    font-weight: 700;
    color: white;
}
.main-artical{
    padding-top: 7%;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 15%;
    padding-right: 10%;
    padding-top: 4%;
}

.about-me-image img{
    width: 55%;
}
.recipie-width{
    width: 33.33%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 0 30px grey;
 }
 #recipie-menu-area{
    padding-left: 10%;
    padding-right: 10%;
 }

 .recipie-image{
     width: 100%;
     border-radius: 10px;
 }

 .recipie-add{
     width: 60%;
     text-align: center;
     margin: 4% auto;
 }
 #max-width{
     width: 80%;
     margin: auto;
 }
 footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1% 2% 5%;
}
 footer h1{
     color: gray;
 }
 .footer-food-color{
     color: saddlebrown;
 }