body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flex-responsive{
    display: flex;
}
section{
    margin-bottom: 80px;
}


#navbar{
    padding-left: 5%;
    height: 100px;
}

#nav-logo{
    width: 40%;
    color: tomato;
}
#nav-logo img{
    width: 15%;
    background-color: turquoise;
    border-radius: 60%;
}

#nav-menu{
    width: 60%;
    padding-left: 20%;
}

#nav-menu ul{
    list-style-type: none;
    display: inline-flex;
}

#nav-menu ul a{
    padding-right: 3%;
    text-decoration: none;
    color: forestgreen;
}

h1{
    font-size: 35px;
}
h2{
    font-size: 30px;
}


.color-important{
    color: slateblue;
}

.half-width{
    width: 50%;
    padding-left: 10%;
}
#main-artical{
    padding-top: 2%;
    padding-bottom: 2%;
}

.artical-image img{
    width: 70%;
    padding-left: 10%;
}

.link-button{
    padding: 10px 20px;
    background-image: linear-gradient(red, darkmagenta);
    border-radius: 30px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-right: 14%;
    padding-top: 4%;
    padding-left: 0;
}
#recipie-add{
    width: 60%;
    text-align: center;
    margin: 4% auto;
}
#recipie-menu-area{
    padding-left: 10%;
    padding-right: 10%;
 }
.recipie-width{
    width: 33.33%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 0 30px grey;
 }

 .recipie-image{
     width: 100%;
     border-radius: 10px;
     height: 250px;
 }

 .social-action{
    padding: 1%;
    width: 73%;
    margin: 0 auto;
    text-align: center;
}

#social-action{
   box-shadow: 5px 5px 20px gray;
   border-radius: 10px;
}

 footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1% 2% 5%;
}
 footer h1{
     color: gray;
 }
 .footer-food-color{
     color: saddlebrown;
 }
